<!-- <main style="margin-top: 112px;">
  <div class="container">
      <form [formGroup]="resetPasswordForm">
        <div class="title">Change Password</div>

        <div style="display: flex;" class="input-box underline"  [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')">
          <input class="fill" formControlName="password" [(ngModel)]="password" type="{{type}}" placeholder="New Password" required minlength="8" (input)="toggleNewPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorNewPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')" class="text-danger">*New Password is required</small>
        <small *ngIf="!isValidPassword && password" class="text-danger">*Minimum password length should be 8*<br>
          *Password should be Alphanumeric*<br>*Password should contain special chars*</small>

        <div style="display: flex;" class="input-box underline"  [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')">
          <input class="fill" formControlName="confirmPassword" [(ngModel)]="confirmPassword" type="{{type}}" placeholder="Confirm Password" required minlength="8" (input)="toggleConfirmPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorConfirmPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')" class="text-danger">*Confirm Password is required</small>
        <small *ngIf="!isValidConfirmPassword && confirmPassword" class="text-danger">*Minimum password length should be 8*<br>
          *Password should be Alphanumeric*<br>*Password should contain special chars*</small>

        <div class="input-box button">
          <input type="submit" name="" (click)="reset()" value="Change Password" />
        </div>
      </form>
    </div>
</main> -->

<main style="margin-top: 112px;">
  <div class="container">
      <form [formGroup]="resetPasswordForm">
        <div class="title">Reset Password</div>

        <div style="display: flex;" class="input-box underline"  [class.error]="resetPasswordForm.controls['new_password'].dirty && resetPasswordForm.hasError('required', 'new_password')">
          <input class="fill" formControlName="new_password" [(ngModel)]="new_password" (ngModelChange)="checkValidPassword($event)" type="{{type}}" placeholder="New Password" minlength="8" required (input)="toggleNewPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorNewPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="resetPasswordForm.controls['new_password'].dirty && resetPasswordForm.hasError('required', 'new_password')" class="text-danger">*New Password is required</small>
        <small *ngIf="!isValidPassword && new_password" class="text-danger">*Minimum password length should be 8*<br>
          *Password should be Alphanumeric*<br>*Password should contain special chars*</small>

        <div style="display: flex;" class="input-box underline"  [class.error]="resetPasswordForm.controls['confirm_password'].dirty && resetPasswordForm.hasError('required', 'confirm_password')">
          <input class="fill" formControlName="confirm_password" [(ngModel)]="confirm_password" (ngModelChange)="checkValidConfirmPassword($event)" type="{{type}}" placeholder="Confirm Password" minlength="8" required (input)="toggleConfirmPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorConfirmPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="resetPasswordForm.controls['confirm_password'].dirty && resetPasswordForm.hasError('required', 'confirm_password')" class="text-danger">*Confirm Password is required</small>
        <small *ngIf="!isValidConfirmPassword && confirm_password" class="text-danger">*Minimum password length should be 8*<br>
          *Password should be Alphanumeric*<br>*Password should contain special chars*</small>

        <div class="input-box button">
          <input type="submit" name="" (click)="reset()" value="Change Password" />
        </div>
      </form>
    </div>
</main>
