main{
  overflow: hidden;
  margin-top: 112px;
}

h4{
  margin-top: 8px;
  color: var(--text-color);
  font-weight: 600;
}

.table{
  width: 100%;
}

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--yellow-color);
}

.table_header p{
  color: #000000;
}

button{
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* margin-left: 5px; */
  padding: 10px;
}

td button:nth-child(1){
  background-color: #0298cf;
  color: white;
  margin: 3px;
}

td button:nth-child(1):hover{
  background-color: #3cc9fd
}

td button:nth-child(2){
  background-color: #ff014fff;
  color: white;
  margin: 3px;
}

td button:nth-child(2):hover{
  background-color: rgb(255, 120, 120);
}

.add_new{
  padding: 10px 20px;
  color: #ffffff;
  /* background-color: #ff014fff; */
  background: linear-gradient(to left, rgb(106, 104, 104) 0%, rgb(27, 27, 27) 100%);
}

/* .add_new:hover{
  background-color: rgba(221, 19, 79, 0.774);
  font-size: 16px;
} */

input{
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
}

.table_section{
  height: 500px;
  overflow: auto;
}

table{
  width: 100%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
}

thead th{
  position: sticky;
  top: 0;
  background-color: #f6f9fc;
  color: #8493a5;
  font-size: 15px;
}

th, td{
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  word-break: break-all;
  text-align: center;
}

td img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px solid #ced0d2;
}

tr:hover td{
  /* color: var(--yellow-color); */
  cursor: pointer;
  background-color: #f6f9fc;
  font-size: larger;
}

/* .pagination{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
}

.pagination div{
  padding: 10px;
  border: 2px solid #d5d0d0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff014fff;
  color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  margin: 0 5px;
}

.pagination div i{
  background-color: #ff014fff;
  color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
} */

::placeholder{
  color: black;
}

::-webkit-scrollbar{
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}



#img{
  width: 100px;
}

section{
    margin-top: 130px;
    min-height: auto;
}

#btn_payment:hover{
    background-color: var(--yellow-color);
    font-size: 22px;
    color: var(--text-color);
}

#btn_payment_paypal{
  width: 100%;
  background-color:#ffc439;
  border-radius: 5px;
}

.paypal-button {
  width: 100%;
  background-color: #ffc439;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: flex;
  height: 40px;
  justify-content: center;
}
.paypal-button:hover {
  background-color: #f2ba36;
}

#payNow{
  background-color: #ffc439;
  border: none;
  width: 100%;
  border-radius: 2px;
  font-size: 20px;
  color: black;
}

#payNow:hover{
  background-color: #f2ba36;
}

#pay{
  color: #003087;
  font-style: italic;
  font-size: 20px;
  margin-top: -5px;
}
#pal{
  color: #009cde;
  font-style: italic;
  font-size: 20px;
  margin-top: -5px;
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }

    .card-registration .select-arrow {
    top: 13px;
    }

    .bg-grey {
    background-color: #eae8e8;
    }

    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    @media (max-width: 500px) {
      #sizeAndPrice{
        margin-left: 40px;
        margin-top: 20px;
      }
      }

