<main *ngIf="role === 'Admin'">
  <div class="container">
      <form [formGroup]="formChangePassword">
        <div class="title">Change Password</div>

        <div style="display: flex;" class="input-box underline"  [class.error]="formChangePassword.controls['new_password'].dirty && formChangePassword.hasError('required', 'new_password')">
          <input class="fill" formControlName="new_password" [(ngModel)]="new_password" type="{{type}}" placeholder="New Password" required (input)="toggleNewPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorNewPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="formChangePassword.controls['new_password'].dirty && formChangePassword.hasError('required', 'new_password')" class="text-danger">*New Password is required</small>

        <div style="display: flex;" class="input-box underline"  [class.error]="formChangePassword.controls['confirm_password'].dirty && formChangePassword.hasError('required', 'confirm_password')">
          <input class="fill" formControlName="confirm_password" [(ngModel)]="confirm_password" type="{{type}}" placeholder="Confirm Password" required (input)="toggleConfirmPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorConfirmPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="formChangePassword.controls['confirm_password'].dirty && formChangePassword.hasError('required', 'confirm_password')" class="text-danger">*Confirm Password is required</small>

        <div class="input-box button">
          <input type="submit" name="" (click)="ChangePassword()" value="Change Password" />
        </div>
      </form>
    </div>
</main>

<main style="margin-top: 112px;" *ngIf="role === 'Manager' || role === 'Customer'">
  <div class="container">
      <form [formGroup]="formChangePassword">
        <div class="title">Change Password</div>

        <div style="display: flex;" class="input-box underline"  [class.error]="formChangePassword.controls['new_password'].dirty && formChangePassword.hasError('required', 'new_password')">
          <input class="fill" formControlName="new_password" [(ngModel)]="new_password" (ngModelChange)="checkValidPassword($event)" type="{{type}}" placeholder="New Password" minlength="8" required (input)="toggleNewPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorNewPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="formChangePassword.controls['new_password'].dirty && formChangePassword.hasError('required', 'new_password')" class="text-danger">*New Password is required</small>
        <small *ngIf="!isValidPassword && new_password" class="text-danger">*Minimum password length should be 8*<br>
          *Password should be Alphanumeric*<br>*Password should contain special chars*</small>

        <div style="display: flex;" class="input-box underline"  [class.error]="formChangePassword.controls['confirm_password'].dirty && formChangePassword.hasError('required', 'confirm_password')">
          <input class="fill" formControlName="confirm_password" [(ngModel)]="confirm_password" (ngModelChange)="checkValidConfirmPassword($event)" type="{{type}}" placeholder="Confirm Password" minlength="8" required (input)="toggleConfirmPasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{colorConfirmPass}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="formChangePassword.controls['confirm_password'].dirty && formChangePassword.hasError('required', 'confirm_password')" class="text-danger">*Confirm Password is required</small>
        <small *ngIf="!isValidConfirmPassword && confirm_password" class="text-danger">*Minimum password length should be 8*<br>
          *Password should be Alphanumeric*<br>*Password should contain special chars*</small>

        <div class="input-box button">
          <input type="submit" name="" (click)="ChangePassword()" value="Change Password" />
        </div>
      </form>
    </div>
</main>
