<main style="min-height: 110vh;">
  <body style="margin-top: 100px;" *ngIf="role != 'Admin'">
    <div class="container">
      <div class="main">
        <div class="home">
          <div class="left">
            <img src="/assets/img/about.png" class="home-img" alt="Paper photo">
            <h2 class="heading-2">
              Welcome to HD SHOE STORE - PR ACCORDING TO CORE VALUES
            </h2>
          </div>

        </div>

      </div>
    </div>

    <blockquote class="blockquote-aboutus">

      <p>In fashion, sustainability is always at the forefront. It's a whole process, from sourcing raw materials to delivering products to customers. <br> By moving away from the 'fast fashion' mindset and focusing on meticulous production, we were able to make a difference</p>

      <p>When you buy a pair of shoes at HD SHOE STORE, you will receive a shoe cleaning card 3 times. If you need to clean your shoes, just bring the card back and you won't incur any cleaning costs. Each cleanup will include:</p>

      <ul>
          <li><strong>Remove Dirt From Leather And Sole Surfaces:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Remove dirt from leather and sole surfaces.</li>
              <li style="text-align: none;">Shapes and stretches the leather to restore the shoe's shape (70-90%).</li>
              <li style="text-align: none;">Polish the leather and sole.</li>
              <li style="text-align: none;">The suede will be sprayed with water to refresh and moisturize the leather.</li>
              <li style="text-align: none;">Pack and stuff with paper to keep the shoe's shape.</li>
            </ul>
          <li><strong>Shoe Warranty Policy:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Lifetime warranty on base glue; In the event that the single layer of adhesive peels off, we will provide permanent re-adhesive.</li>
              <li style="text-align: none;">Warranty on metal hardware (zippers, buttons, decorative details) for 6 months.</li>
            </ul>
          <li><strong>Exchange Policy:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">If newly purchased shoes have manufacturer defects such as peeling sole glue, broken threads, cracked leather or surface problems.</li>
              <li style="text-align: none;">Please note: wrinkles on the leather are a natural characteristic of genuine leather, so when worn and stepped on, wrinkles may appear on the leather surface. This is a normal phenomenon and is not a manufacturing defect.</li>
              <li style="text-align: none;">Shoes do not fit the customer's foot size.</li>
            </ul>
          <li><strong>Exchange Time:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Buy in Store: up to 24 hours.</li>
              <li style="text-align: none;">Online purchase: maximum 7 days from date of receipt.</li>
            </ul>
          <li><strong>Exchange Regulations:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Only products of the same type can be exchanged, or size exchanges, no model changes allowed.</li>
              <li style="text-align: none;">Products must be unused (specifically tried on without walking, no heel marks, no toe creases; in case of creases, HD STORE reserves the right to decline exchange).</li>
              <li style="text-align: none;">Products must be carefully packaged as received including the bag, box, and any internal components.</li>
              <li style="text-align: none;">In-store exchanges: Customers bring the product to the store and discuss the issue. HD STORE will assess the product, and if everything is in order, HD STORE will exchange it at the store.</li>
              <li style="text-align: none;">Online exchanges (exchanges through shipping): Customers contact HD STORE via hotline or fan page, and provide reasons for exchange with accompanying images. HD STORE team will review. For exchange by shipping, customers must include a note with their name, phone number, address, and reason for exchange to prevent loss. HD STORE will inspect the product once more. If the conditions are met, HD STORE will send a new product within 4-5 working days. If not, HD STORE will inform the customer and suggest alternative solutions.</li>
            </ul>
          <li><strong>Shipping Support Costs Will Be Calculated As Follows:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">HD STORE will pay both ends if it is a manufacturing defect.</li>
              <li style="text-align: none;">HD STORE will pay one end if HD STORE advised the wrong size.</li>
              <li style="text-align: none;">Customers will pay both ends if they want to exchange sizes on their own.</li>
            </ul>
      </ul>

      <p>We are committed to providing the best user experience and always listen to feedback from the community.</p>

      <p>If you have any questions or suggestions, please feel free to contact us at [+1 (999) 999-9991] or hdstore@gmail.com.</p>

      <p>Thank you for choosing HD SHOE STORE a place that brings comfort to your feet!!</p>
    </blockquote>

  </body>

  <body *ngIf="role === 'Admin'" style="margin-top: -25px;">
    <div class="container">
      <div class="main">
        <div class="home">
          <div class="left">
            <img src="/assets/img/about.png" class="home-img" alt="Paper photo">
            <h2 class="heading-2">
              Welcome to HD SHOE STORE - PR ACCORDING TO CORE VALUES
            </h2>
          </div>

        </div>

      </div>
    </div>

    <blockquote class="blockquote-aboutus">

      <p>In fashion, sustainability is always at the forefront. It's a whole process, from sourcing raw materials to delivering products to customers. <br> By moving away from the 'fast fashion' mindset and focusing on meticulous production, we were able to make a difference</p>

      <p>When you buy a pair of shoes at HD SHOE STORE, you will receive a shoe cleaning card 3 times. If you need to clean your shoes, just bring the card back and you won't incur any cleaning costs. Each cleanup will include:</p>

      <ul>
          <li><strong>Remove Dirt From Leather And Sole Surfaces:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Remove dirt from leather and sole surfaces.</li>
              <li style="text-align: none;">Shapes and stretches the leather to restore the shoe's shape (70-90%).</li>
              <li style="text-align: none;">Polish the leather and sole.</li>
              <li style="text-align: none;">The suede will be sprayed with water to refresh and moisturize the leather.</li>
              <li style="text-align: none;">Pack and stuff with paper to keep the shoe's shape.</li>
            </ul>
          <li><strong>Shoe Warranty Policy:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Lifetime warranty on base glue; In the event that the single layer of adhesive peels off, we will provide permanent re-adhesive.</li>
              <li style="text-align: none;">Warranty on metal hardware (zippers, buttons, decorative details) for 6 months.</li>
            </ul>
          <li><strong>Exchange Policy:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">If newly purchased shoes have manufacturer defects such as peeling sole glue, broken threads, cracked leather or surface problems.</li>
              <li style="text-align: none;">Please note: wrinkles on the leather are a natural characteristic of genuine leather, so when worn and stepped on, wrinkles may appear on the leather surface. This is a normal phenomenon and is not a manufacturing defect.</li>
              <li style="text-align: none;">Shoes do not fit the customer's foot size.</li>
            </ul>
          <li><strong>Exchange Time:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Buy in Store: up to 24 hours.</li>
              <li style="text-align: none;">Online purchase: maximum 7 days from date of receipt.</li>
            </ul>
          <li><strong>Exchange Regulations:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">Only products of the same type can be exchanged, or size exchanges, no model changes allowed.</li>
              <li style="text-align: none;">Products must be unused (specifically tried on without walking, no heel marks, no toe creases; in case of creases, HD STORE reserves the right to decline exchange).</li>
              <li style="text-align: none;">Products must be carefully packaged as received including the bag, box, and any internal components.</li>
              <li style="text-align: none;">In-store exchanges: Customers bring the product to the store and discuss the issue. HD STORE will assess the product, and if everything is in order, HD STORE will exchange it at the store.</li>
              <li style="text-align: none;">Online exchanges (exchanges through shipping): Customers contact HD STORE via hotline or fan page, and provide reasons for exchange with accompanying images. HD STORE team will review. For exchange by shipping, customers must include a note with their name, phone number, address, and reason for exchange to prevent loss. HD STORE will inspect the product once more. If the conditions are met, HD STORE will send a new product within 4-5 working days. If not, HD STORE will inform the customer and suggest alternative solutions.</li>
            </ul>
          <li><strong>Shipping Support Costs Will Be Calculated As Follows:</strong></li>
            <ul style="text-decoration: none; margin-left: 15px;">
              <li style="text-align: none;">HD STORE will pay both ends if it is a manufacturing defect.</li>
              <li style="text-align: none;">HD STORE will pay one end if HD STORE advised the wrong size.</li>
              <li style="text-align: none;">Customers will pay both ends if they want to exchange sizes on their own.</li>
            </ul>
      </ul>

      <p>We are committed to providing the best user experience and always listen to feedback from the community.</p>

      <p>If you have any questions or suggestions, please feel free to contact us at [+1 (999) 999-9991] or hdstore@gmail.com.</p>

      <p>Thank you for choosing HD SHOE STORE a place that brings comfort to your feet!!</p>
    </blockquote>

  </body>
</main>

