<main *ngIf="role === 'Admin'">
  <div class="container" style="margin-bottom: 360px;">
      <div class="title">Add Account</div>
      <div class="content">
        <form [formGroup]="registerForm">
          <div class="user-details">
            <div class="input-box" [class.error]="registerForm.controls['username'].dirty && registerForm.hasError('required', 'username')">
              <span class="details">Username <span style="color: red;">*</span></span>
              <input formControlName="username" type="text" [(ngModel)]="UsernameField" (ngModelChange)="checkValidUsername($event)" placeholder="Enter your username" required>
              <small *ngIf="registerForm.controls['username'].dirty && registerForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
              <small *ngIf="registerForm.controls['username'].hasError('pattern')" class="text-danger">*Username don't allow the space</small><br>
              <small *ngIf="!isValidUsername && UsernameField" class="text-danger">*Username length must than 5 and smaller than 20 characters*</small>
            </div>


            <div class="input-box">
              <span class="details">Address</span>
              <input type="text"  formControlName="address" placeholder="Enter your address" maxlength="255">
            </div>


            <div class="input-box" [class.error]="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">
              <span class="details">Email <span style="color: red;">*</span></span>
              <input formControlName="email" type="text" placeholder="Enter your email" required [(ngModel)]="EmailField" (ngModelChange)="checkValidEmail($event)">
              <small *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
              <small *ngIf="!isValidEmail && EmailField" class="text-danger">*Email is invalid*</small>
              <small *ngIf="registerForm.controls['email'].hasError('pattern')">*Email don't allow the space</small><br>
            </div>


            <div class="input-box" [class.error]="registerForm.controls['phone'].dirty && registerForm.hasError('required', 'phone')">
              <span class="details">Phone Number <span style="color: red;">*</span></span>
              <input formControlName="phone" type="text" placeholder="Enter your phone number" required [(ngModel)]="PhoneField" minlength="10" maxlength="10" (ngModelChange)="checkValidPhone($event)">
              <small *ngIf="registerForm.controls['phone'].dirty && registerForm.hasError('required', 'phone')" class="text-danger">*Phone is required</small>
              <!-- <small *ngIf="registerForm.controls['phone'].hasError('min')" class="text-danger">*Phone valid include 10 positive numbers</small> -->
              <small *ngIf="!isValidPhone && PhoneField" class="text-danger">*Phone is invalid*</small>
              <small *ngIf="registerForm.controls['phone'].hasError('pattern')">*Phone don't allow the space</small><br>

            </div>


            <div class="input-box" [class.error]="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">
              <span class="details">Password <span style="color: red;">*</span></span>
              <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 5px; background-color: white; margin-left: 10px; width: 295px">
                <input style="border: none;" formControlName="password" [(ngModel)]="PasswordField" (ngModelChange)="checkValidPassword($event)" type="{{type}}" placeholder="Enter your password" required>
                <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-right: 10px;"></span>
              </div>
              <small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
              <small *ngIf="!isValidPassword && PasswordField" class="text-danger">*Minimum password length should be 8*<br>
                *Password should be Alphanumeric*<br>*Password should contain special chars*</small>
            </div>


            <div class="input-box" [class.error]="registerForm.controls['confirmPassword'].dirty && registerForm.hasError('required', 'confirmPassword')">
              <span class="details">Confirm Password <span style="color: red;">*</span></span>
              <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 5px; background-color: white; margin-left: 10px; width: 295px  ">
                <input style="border: none;" formControlName="confirmPassword" [(ngModel)]="ConfirmPasswordField" (ngModelChange)="checkValidConfirmPassword($event)" type="{{type}}" placeholder="Confirm your password" required>
                <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-right: 10px;"></span>
              </div>
              <small *ngIf="registerForm.controls['confirmPassword'].dirty && registerForm.hasError('required', 'confirmPassword')" class="text-danger">*confirm Password is required</small>
              <small *ngIf="!isValidConfirmPassword && ConfirmPasswordField" class="text-danger">*Minimum password length should be 8*<br>
                *Password should be Alphanumeric*<br>*Password should contain special chars*</small>
            </div>

            <div class="input-box" [class.error]="registerForm.controls['birthday'].dirty && registerForm.hasError('required', 'birthday')">
              <label for="birthday" style="font-weight: 500; color: black;">Birthday:</label>
              <input formControlName="birthday" type="date" id="birthday" name="birthday" required>
              <small *ngIf="registerForm.controls['birthday'].dirty && registerForm.hasError('required', 'birthday')" class="text-danger">*Birthday is required</small>
            </div>

            <div class="input-box" style="margin-top: 1px;" [class.error]="registerForm.controls['role'].dirty && registerForm.hasError('required', 'role')">
              <span class="details">Role</span>
              <select formControlName="role" id="select-option" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="font-size: 16px;">
                <option [selected] value="0" disabled>Choose Role</option>
                <option *ngFor="let r of lstRole" value="{{r.role_id}}">{{r.role_name}}</option>
              </select>
              <small *ngIf="registerForm.controls['role'].dirty && registerForm.hasError('required', 'role')" class="text-danger">*Role is required</small>
            </div>
          </div>

          <!-- <div class="gender-details" [class.error]="registerForm.controls['gender'].dirty && registerForm.hasError('required', 'gender')">
            <span style="font-weight: 500; color: var(--grey-color);">Gender</span><br>
            <input formControlName="gender" type="radio" value="Female" style="padding: 10px"> Female
            <input formControlName="gender" type="radio" value="Male" style="padding: 10px"> Male
            <input formControlName="gender" type="radio" value="Prefer not to say" style="padding: 10px"> Prefer not to say
          </div>
          <small *ngIf="registerForm.controls['gender'].dirty && registerForm.hasError('required', 'gender')" class="text-danger">*Gender is required</small>
         -->

        <div class="gender-details" [class.error]="registerForm.controls['gender'].dirty && registerForm.hasError('required', 'gender')">
          <span style="font-weight: 500; color: black;">Gender <span style="color: red;">*</span></span><br>
          <div style="display: flex;">
            <input class="radio" formControlName="gender" type="radio" value="Female" style="margin-right: 5px;"><p style="color: black; margin-top: 15px; margin-right: 35px;">Female</p>
            <input formControlName="gender" type="radio" value="Male" style="margin-right: 5px; "> <p style="color: black; margin-top: 15px; margin-right: 35px;">Male</p>
            <input formControlName="gender" type="radio" value="Prefer not to say" style="margin-right: 5px;"> <p style="color: black; margin-top: 15px; margin-right: 35px;"> Prefer not to say</p></div>
        </div>
        <small *ngIf="registerForm.controls['gender'].dirty && registerForm.hasError('required', 'gender')" class="text-danger">*Gender is required</small>


          <div>
            <a routerLink="/view-account" class="text-body"><p style="color: black;"><i class="fa-solid fa-arrow-left" style="margin-right: 10px; color: black;"></i>Back to Login</p></a>
          </div>
          <div class="button">
            <input (click)="onSignup()" type="submit" value="Add">
          </div>
        </form>
      </div>
    </div>
</main>
