<div class="container" id="text" style="margin-top: 150px;">
  <h1 class="text-center">PRODUCTS</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let item of lstProduct | paginate:{itemsPerPage: pageSize, currentPage: currentPage}">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                  <img class="pic-1" [src]="(path + item.product_image)">
              </a>
              <ul class="social">
                  <li><a (click)="getDataToView(item.product_image)"  [routerLink]="['/product-details']" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                  <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter" *ngIf="role === 'Customer'" (click)="setProName(item.product_name)" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>

            <div class="product-content">
                <h3 class="title"><a href="#">{{item.product_name}}</a></h3>
                <div class="price">${{item.product_sell_price}}
                    <span>${{item.product_sell_price * 1.5}}</span>
                </div>
            </div>
          </div>
      </div>
      <div class="pagination"  style="justify-content: center;">
        <pagination-controls (pageChange)="currentPage=$event" variant="Circular"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please Choose Size</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="margin:10px; border-radius: 5px;">
        <div class="modal-body" style="background-color: white;">
          <div style="display: flex;">
            <div class="size" *ngFor="let s of lstSize" (click)="selectSize(s.sizeNumber)" [class.selected]="selectedSize === s.sizeNumber">{{s.sizeNumber}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button style="background-color: var(--yellow-color); border: none;" id="btn-Confirm" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCart(1)">Confirm</button>
      </div>
    </div>
  </div>
</div>


