<main *ngIf="role === 'Admin'">
  <div class="container">
      <form [formGroup]="formOldPass">
        <div class="title">Confirm Password</div>

        <div style="display: flex;" class="input-box underline"  [class.error]="formOldPass.controls['password'].dirty && formOldPass.hasError('required', 'password')">
          <input class="fill" formControlName="password" [(ngModel)]="password" type="{{type}}" placeholder="Old Password" required (input)="togglePasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{color}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="formOldPass.controls['password'].dirty && formOldPass.hasError('required', 'password')" class="text-danger">*Old Password is required</small>

        <div class="btn">
          <button (click)="ConfirmOldPassword()">Confirm Password</button>
        </div>
      </form>
    </div>
</main>

<main style="margin-top: 112px;" *ngIf="role === 'Manager' || role === 'Customer'">
  <div class="container">
      <form [formGroup]="formOldPass">
        <div class="title">Confirm Password</div>

        <div style="display: flex;" class="input-box underline"  [class.error]="formOldPass.controls['password'].dirty && formOldPass.hasError('required', 'password')">
          <input class="fill" formControlName="password" [(ngModel)]="password" type="{{type}}" placeholder="Old Password" required (input)="togglePasswordFields()"/>
          <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px; color: {{color}};"></span>
          <div class="underline"></div>
        </div>
        <small *ngIf="formOldPass.controls['password'].dirty && formOldPass.hasError('required', 'password')" class="text-danger">*Old Password is required</small>

        <div class="btn">
          <button (click)="ConfirmOldPassword()">Confirm Password</button>
        </div>
      </form>
    </div>
</main>
